@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar.sticky {
    padding: 10px 0;
    background: rgb(106, 178, 226);
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #e75921;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}


.nav_bar {
    background: #252b34;
    border-bottom: 5px solid #e75921;
    position: fixed;
    z-index: 1000;
    width: 100%;
    inset: 0 0 auto;
    height: 75  px;
    transition: all 0.3s ease;
    font-family: 'Poppins';
    opacity: .80;
    box-shadow: 0 0 7px 0 rgb(0 0 0 /90);

    & .max_width {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // & a {
        //     font-size: 30px;
        //     font-weight: 600;
        //     margin-top: 5px;
        //     color: #fff;
        //     transition: all 0.5s ease;
        //     text-decoration: none;
        // }

        & img {
            width: 90px;
            margin-top: 5px;
            color: white;
            transition: all 0.5s ease;
            margin-left: 80px;
        }
    }

    

    & .menu li {
        list-style: none;
        display: inline-block;
        
        & a {
            display: block;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            transition: color 0.3s ease;
            text-decoration: none;
            padding-top: 20px;
        }

        & .active {
            color: red;
            font-weight: 900;
        }

    }

    & .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
    }
}



#home {
    display: flex;
    background: url("../images/bg5.png") no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.home-content {
    margin-top: -100px;

    & .text-1 {
        font-size: 55px;
        margin-right: 200px;
        line-height: 1;
        margin-bottom: 40px;
        margin-top: 190px;
        display: block;
    }

    & .text-2 ul {
        font-size: 18px;
        margin-bottom: 40px;
        list-style: none;
        margin-top: -10px;
        margin-left: -30px;
    }

    & a {
        color: #fff;
        font-size: 18px;
        padding: 12px 20px 12px 20px;
        border-radius: 6px;
        border: 2px solid #e75921;
        transition: all 0.3s ease;
        text-decoration: none;
    }

    & a:hover {
        background: #e75921;
    }
}


.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
    border-radius: 13px;
}

section {
    padding: 65px 0;


    & .title {
        position: relative;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 80px;
        padding-bottom: 20px;
        font-family: 'Poppins',sans-serif;
    }
}

.about {
    background: rgba(138, 246, 232, 0.417);

    & .max-width p {
        margin-top: -80px;
        font-family: 'Poppins',sans-serif;
        margin-bottom: 50px;
    }

    & .card-1 {
        background: #e759219d;
        border-radius: 15px;
        width: 270px;
        height: 424px;
        text-align: center;
        padding: 20px;
    
        & img {
            object-fit: cover;
            width: 210px;
            height: 150px;
            border: 2px solid #fff;
            border-radius: 23px;
            margin-bottom: 20px;
        }
    
        & .content {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #000;
            overflow: hidden;
            padding: 0 20px;
            margin-bottom: 35px;
        }
    
        & a {
            font-size: 18px;
            color: #fff;
            padding: 10px 20px 10px 20px;
            border-radius: 6px;
            border: 2px solid #e75921;
            transition: all 0.3s ease;
            text-decoration: none;
            border-radius: 0 16px 16px 16px;
        }

        & a:hover {
            background: #e75921;
        }
    }

    & .card-2 {
        width: 270px;
        height: 424px;
        background: #c1e770;
        border-radius: 15px;
        text-align: center;
        padding: 20px;
    
        & img {
            object-fit: cover;
            width: 210px;
            height: 150px;
            border: 2px solid #fff;
            border-radius: 23px;
            margin-bottom: 20px;
        }
    
        & .content {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #000;
            overflow: hidden;
            padding: 0 20px;
            margin-bottom: 35px;
        }
    
        & a {
            font-size: 18px;
            color: #fff;
            padding: 10px 20px 10px 20px;
            border-radius: 6px;
            border: 2px solid #e75921;
            transition: all 0.3s ease;
            text-decoration: none;
            border-radius: 0 16px 16px 16px;
        }

        & a:hover {
            background: #e75921;
        }
    }

    & .card-3 {
        width: 270px;
        height: 424px;
        background: #a661bbc4;
        border-radius: 15px;
        text-align: center;
        padding: 20px;
    
        & img {
            object-fit: cover;
            width: 210px;
            height: 150px;
            border: 2px solid #fff;
            border-radius: 23px;
            margin-bottom: 20px;
    
        }
    
        & .content {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #000;
            overflow: hidden;
            padding: 0 20px;
            margin-bottom: 35px;
        }
    
        & a {
            font-size: 18px;
            color: #fff;
            padding: 10px 20px 10px 20px;
            border-radius: 6px;
            border: 2px solid #e75921;
            transition: all 0.3s ease;
            text-decoration: none;
            border-radius: 0 16px 16px 16px;
        }

        & a:hover {
            background: #e75921;
        }
    }

    & .card-4 {
        width: 270px;
        height: 424px;
        background: #eb5bb686;
        border-radius: 15px;
        text-align: center;
        padding: 20px;
    
        & img {
            object-fit: cover;
            width: 210px;
            height: 150px;
            border: 2px solid #fff;
            border-radius: 23px;
            margin-bottom: 20px;
    
        }
    
        & .content {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #000;
            overflow: hidden;
            padding: 0 20px;
            margin-bottom: 35px;
        }
    
        & a {
            font-size: 18px;
            color: #fff;
            padding: 10px 20px 10px 20px;
            border-radius: 6px;
            border: 2px solid #e75921;
            transition: all 0.3s ease;
            text-decoration: none;
            border-radius: 0 16px 16px 16px;
        }

        & a:hover {
            background: #e75921;
        }
    }

    & .fadeInLeft {
        -webkit-animation: fadeInLeft  2s both;
        -moz-animation: fadeInLeft 2s both;
        -o-animation: fadeInLeft  2s both;
        animation: fadeInLeft  2s both;
    }

    & .fadeInTop {
        -webkit-animation: fadeInTop 2s both;
        -moz-animation: fadeInTop2s both;
        -o-animation: fadeInTop 2s both;
        animation: fadeInTop  2s both;
    }

    & .fadeInBottom {
        -webkit-animation: fadeInBottom 2s both;
        -moz-animation: fadeInBottom both;
        -o-animation: fadeInBottom 2s both;
        animation: fadeInBottom  2s both;
    }

    & .fadeInRight {
        -webkit-animation: fadeInRight 2s both;
        -moz-animation: fadeInRight 2s both;
        -o-animation: fadeInRight 2s both;
        animation: fadeInRight 2s both;
    }
    
}

.instructors {
    background: rgba(71, 71, 71, 0.417);

    & .max-width p {
        font-family: 'Poppins',sans-serif;
        margin-bottom: 50px;
    }

    & .container {
        margin-top: 5%;
        

        & .img-text {
            width: 90%;
            height: 450px;
            display: block;
            text-align: center;
            padding: 40% 5%;
            background-color: #262626;
            color: #fff;
            border-radius: 15px;

            & h2 {
                font-size: 25px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-family: 'Poppins';
            }

            & p {
                font-size: 14px;
            }
        }
    }
}

.single-box {
    position: relative;
    margin-bottom: 30px;
}

.img-area {
    position: absolute;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 2px solid #fff;
    top: 15px;
    left: 100px;
    border-radius: 50%;

    & img {
        width: 100%;
    }
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;

    & li {
        background: #000;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    .active {
        background-color: #fff;
    }
}




//     & .teacher-1 {
//         background: #e759219d;
//         border-radius: 15px;
//         width: 400px;
//         height: 600px;
//         text-align: center;
//         padding: 20px;

//         & img {
//             object-fit: cover;
//             width: 230px;
//             height: 250px;
//             border: 2px solid #fff;
//             border-radius: 23px;
//             margin-bottom: 20px;
//         }
        
//         & .content {
//             font-family: 'Poppins', sans-serif;
//             font-weight: 500;
//             font-size: 15px;
//             color: #000;
//             overflow: hidden;
//             padding: 0 20px;
//             margin-bottom: 35px;

//             & p {
//                 margin-top: 5px;
//             }
//         }
    
//         & a {
//             font-size: 18px;
//             color: #fff;
//             padding: 10px 20px 10px 20px;
//             border-radius: 6px;
//             border: 2px solid #e75921;
//             transition: all 0.3s ease;
//             text-decoration: none;
//             border-radius: 0 16px 16px 16px;
//         }

//         & a:hover {
//             background: #e75921;
//         }
//     }
// }


//  Fade in Left
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// Fade In Top

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100% {
        opacity: .95;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Fade in Right

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: .95;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


// Fade In Bottom

@-webkit-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: .95;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


// Start in Media Query

@media (max-width: 1300px) {
    .home .container {
        margin: -50px 0 0 0;
    }

    .home-content .text-1 {
        font-size: 50px;
    }

    .home-content a {
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width: 1104px) {

    .about-content .card-1 {
        width: 200px;
        height: 350px;
        // margin-right: -30px;
        
        & img {
            width: 150px;
            height: 120px;
        }

        & h3 {
            font-size: 23px;
        }

        & .content {
            font-size: 15px;
            margin-bottom: 23px;
        }

        & a {
            font-size: 15px;
        }
    }

    .about-content .card-2 {
        width: 200px;
        height: 350px;

        & img {
            width: 150px;
            height: 120px;
        }

        & h3 {
            font-size: 23px;
        }

        & .content {
            font-size: 15px;
            margin-bottom: 23px;
        }

        & a {
            font-size: 15px;
        }
    }

    .about-content .card-3 {
        width: 200px;
        height: 350px;

        & img {
            width: 150px;
            height: 120px;
        }
        & h3 {
            font-size: 23px;
        }

        & .content {
            font-size: 15px;
            margin-bottom: 23px;
        }
        
        & a {
            font-size: 15px;
        }
    }

    .about-content .card-4 {
        width: 200px;
        height: 350px;

        & img {
            width: 150px;
            height: 120px;
        }

        & h3 {
            font-size: 24px;
        }

        & .content {
            font-size: 15px;
            margin-bottom: 50px;
        }

        & a {
            font-size: 15px;
        }
    }
}

@media (max-width: 991px) {
    .nav_bar .max_width a {
        font-size: 25px;
    }

    .nav_bar .menu li a {
        font-size: 16px;
    }

    #home {
        height: 35em;
    }

    .home .container {
        margin: 20px 0 0 0;
    }

    .home-content .text-1 {
        font-size: 37px;
        width: 600px;
    }
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .nav_bar .menu-btn {
        display: block;
        z-index: 999;
        margin-top: 10px;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }

    .nav_bar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;

        &.active {
            right: 0;
        }

        li {
            display: block;

            & a {
                display: inline-block;
                margin: 12px 0;
                font-size: 25px;
            }
        }
    }
}